<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Document sans nom</title>
<link href="../../assets/css/page_garde.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id='page_garde'>
	<div id='login'>
    	<img class="sand" src="../../assets/imgs/sandwich.png" />
        <img class="logo" src="../../assets/imgs/title.png" />
    </div>
</div>


</body>
</html>
