@charset "UTF-8";
/* CSS Document */

#apps{
	position: absolute;
	top : 350px;
	right : auto;
	left : auto;
}
#vignette_contain a {
	color:#000;
	text-decoration:none;

}
#vignette_contain a:hover {
	
	color:#990000;
	text-decoration:none;
}

#ajout_produit{
	visibility:hidden;
}
#ajouter_news{
	visibility:hidden;
}
#vignettes {
	text-align:center;
	margin:auto;
}
#vignette_contain {
	display: inline-block;

}
#vignette {
		
		background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 10px;
		padding-top:10px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		width:300px;
		margin:10px;
		
		text-align:left;
			box-shadow: 0 0 9px #000000;
 	 	-moz-box-shadow: 0 0 9px #000000;  
  		-webkit-box-shadow: 0 0 9px #000000; 
}

#vignette:hover {

	background-color: rgba(255,255,255,0.7);
}
#vignette h3 {

	margin:0px;
	padding:10px;
	padding-left:30px;
	
}

#vignette img {
	float: left;
	width: 80px;
	height:100px;
	margin:10px;
	margin-top:15px;
	background-color:#900;
}

#vignette ul {
	list-style:none;
}
#vignette li {
	list-style:none;
	font-size:small;
}
#info_sandwicherie {
	
		min-height:400px;
		height:80%;
		margin:20px;
		background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 10px;
		padding-top:0px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		text-align:left;
		float:right;
		width:40%;
}

.news {
	
	background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		padding:0px;
		margin:auto;
		margin-top:10px;
		width:95%;
	
}

#news  p {
	margin:3px;
	padding:0px;
	margin-left:10px;
	font-size:small;
}
#news  h4 {
	width:100%;
	height:20px;
	margin:0px;
	margin-left:10px;
	font-variant:small-caps;
	
}
h3,h2 {
	
	font-variant:small-caps;
}
.date {
	display:block;
	position:relative;
	top:-15px;
	width:90%;
	text-align:right;
	font-size:small;
	font-variant:small-caps;
	margin-left:10px;
	text-indent:10px;
	font-style:italic;
	
}
 a {
	
	font-size:small;
	text-decoration:none;
	color:#C82E2C;
	text-shadow:#000;	
	
}
 a:hover {
	
	font-size:small;
	text-decoration: underline;
	color:#334033;
	text-shadow:#000;	
	
}

.ui-button-text {
	font-size:large;
	text-decoration: none !important;
	 color: #4C3000;
    font-weight: bold;
	margin:0px;
	padding:0px;
	position:relative;
	top:-5px;
	
}

.ui-button {
	height:30px;
	padding:0px;
	position:relative;
	margin:0px;
	min-width:150px;
	vertical-align:top;
	font-size:medium;
	
}
#apps {
	position:absolute;
	width:92%;
	top:20px;
	left:10%;
}
#apps  .bouton_app{
	height:150px;
	width:25%;
	float:left;
	background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 1%;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		text-align:center;
		margin:1%;
		
		background: -moz-linear-gradient(to top, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
		box-shadow: 0 0 9px #000000;
 	 	-moz-box-shadow: 0 0 9px #000000;  
  		-webkit-box-shadow: 0 0 9px #000000; 
}

#apps  .bouton_app:hover{
	border-color: rgb(0,0,0);
		border-width:1px;
		background: -moz-linear-gradient(to bottom, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
}
	
#apps a {
	font-size: large;
	text-transform:capitalize;
	text-shadow:#000;
}
	