@charset "UTF-8";
/* CSS Document */

#apps{
	position: absolute;
	top : 350px;
	right : auto;
	left : auto;
}
#vignette_contain a {
	color:#000;
	text-decoration:none;

}
#vignette_contain a:hover {
	
	color:#990000;
	text-decoration:none;
}

#vignettes {
	text-align:center;
	width:58%;
}
#vignettes_large {
	text-align:center;
	width:100%;
}

#vignette {
		
		text-align:left;
		height:120px;
		overflow:hidden;
		
		
		color:#333344;
		
		width:40%;
		float:left;
		background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 1%;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		margin:1%;
		
		background: -moz-linear-gradient(to top, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
		box-shadow: 0 0 9px #555555;
 	 	-moz-box-shadow: 0 0 9px #555555;
  		-webkit-box-shadow: 0 0 9px #555555;
		float:left; 
}
#vignettes_large #vignette {
	
	width:20%;
	
}

#vignette:hover {

	background-color: rgba(255,255,255,0.7);
}
#vignette h3 {

	margin:0px;
	padding:10px;
	padding-left:30px;
	
}

#vignette img {
	float: left;
	width: 80px;
	height:100px;
	margin:10px;
	margin-top:15px;
	background-color:#900;
}

#vignette ul {
	list-style:none;
}
#vignette li {
	list-style:none;
	font-size:small;
}
#info_sandwicherie {
	
		min-height:100%;
		margin-top:10px;
		background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 10px;
		padding-top:0px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		text-align:left;
		float:right;
		width:45%;
			background: -moz-linear-gradient(to top, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
		box-shadow: 0 0 9px #555555;
 	 	-moz-box-shadow: 0 0 9px #555555; 
  		-webkit-box-shadow: 0 0 9px #555555;
}

.news {
	
	background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		padding:0px;
		margin:auto;
		margin-top:10px;
		width:95%;
	
}

#news  p {
	margin:3px;
	padding:0px;
	margin-left:10px;
	font-size:small;
}
#news  h4 {
	width:100%;
	height:20px;
	margin:0px;
	margin-left:10px;
	font-variant:small-caps;
	
}
h3,h2 {
	
	font-variant:small-caps;
}
.date {
	display:block;
	position:relative;
	top:-15px;
	width:90%;
	text-align:right;
	font-size:small;
	font-variant:small-caps;
	margin-left:10px;
	text-indent:10px;
	font-style:italic;
	
}
 a {
	
	font-size:small;
	text-decoration:none;
	color:#C82E2C;
	text-shadow:#000;	
	
}
 a:hover {
	
	font-size:small;
	color:#334033;
	text-shadow:#000;	
	
}

.ui-button-text {
	font-size:large;
	text-decoration: none !important;
	 color: #4C3000;
    font-weight: bold;
	margin:0px;
	padding:0px;
	position:relative;
	top:-5px;
	
}

.ui-button {
	height:30px;
	padding:0px;
	position:relative;
	margin:0px;
	min-width:150px;
	vertical-align:top;
	font-size:medium;
	
}
#apps {
	position:absolute;
	width:92%;
	top:20px;
	left:10%;
}
#apps_mini {
	position:absolute;
	width:96%;
	left:2%;
	top:0px;
	text-align:center;
}
#apps_mini img{
	width:30px;
	height:30px;
}

#apps_mini .bouton_app{
	display:inline-block;
	height:30px;
	width:30px;
	margin:20px;
	background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding:0px;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		text-align:center;
		margin:0px;
		
		background: -moz-linear-gradient(to top, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
		box-shadow: 0 0 4px #555555;
 	 	-moz-box-shadow: 0 0 4px #555555;
  		-webkit-box-shadow: 0 0 4px #555555;
}
#page {
	position: absolute;
	top:40px;
	left:2%;
	width:96%;
}

#apps  .bouton_app{
	height:150px;
	width:25%;
	float:left;
	background-color: rgba(255,255,255,0.3);
		-moz-border-radius: 20px;
		border-radius: 10px;
		padding: 1%;
		border-style:solid;
		border-color: rgb(255,220,150);
		border-width:1px;
		text-align:center;
		margin:1%;
		
		background: -moz-linear-gradient(to top, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
		box-shadow: 0 0 9px #555555;
 	 	-moz-box-shadow: 0 0 9px #555555;
  		-webkit-box-shadow: 0 0 9px #555555;
}

#apps  .bouton_app:hover{
	border-color: rgb(0,0,0);
		border-width:1px;
		background: -moz-linear-gradient(to bottom, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
}
#apps_mini  .bouton_app:hover{
	border-color: rgb(0,0,0);
		border-width:1px;
		background: -moz-linear-gradient(to bottom, rgba(150,1,1,0.1), rgba(255,255,255,0.5));
}
	
#apps a {
	font-size: large;
	font-variant:small-caps;
	text-shadow:#000;
}

#tab_cmd table,#tab_product table {
		-moz-border-radius: 10px 0px 20px 5px;
		border-radius: 10px;
		
		box-shadow: 0 0 9px #555555;
 	 	-moz-box-shadow: 0 0 9px #555555;
  		-webkit-box-shadow: 0 0 9px #555555;
		border-collapse:collapse;
		text-align:center;
		width:50%;
		margin-top:10px;
		margin-left:15px;
		
	
}
#tab_cmd th,#tab_product th {
	 color: #4C3000;
	background: -moz-linear-gradient(to bottom, rgb(255,200,130), rgba(255,255,255,0.5));
	padding:10px;
	margin:0px;
	border:0px;
	text-align:center;

}
#tab_cmd td, #tab_product td {
	background: rgba(255,255,255,0.5);
	padding:10px;
	margin:0px;
	cursor:pointer;
	
}
#tab_cmd tr:hover,#tab_product tr:hover {
	background: rgba(255,200,130,0.7);
	
}

#tab_product input {
	-moz-border-radius: 5px; 
	width:50px;
	height:20px;
	text-align:center;
	
}

#finalize_cmd{
	background-color:transparent;
	border:none;
}
	