@charset "UTF-8";


body {
	background: -moz-linear-gradient(top left, rgb(253,251,241), rgb(247,236,159));
	background-attachment: fixed;
	text-align: center;
}
#page_garde {
	background: -moz-linear-gradient(top left, rgb(253,251,241), rgb(247,236,159));
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index : 10;
}

#login_contener {
		background: -moz-linear-gradient(to left, rgb(150,1,1), rgb(251,2,2));
		box-shadow: 0 0 9px #000000;
 	 	-moz-box-shadow: 0 0 9px #000000;  
  		-webkit-box-shadow: 0 0 9px #000000; 
		position:absolute;
		top:65%;
		height:150px;
		width:100%;

	
}

#login_contener .sand {
	
	position: relative;
	top:-50px;
	left: 40px;	
	
}
#login_contener .logo {
	
	position: relative;
	top:-60px;
	right: 150px;	
	
}

#form_login {
	display:block;
	position: relative;
	top : -240px;
	left: 40%;	
}


label {
	display: block;
	width: 150px;
	height: 18px;
	padding: 2px;
	margin-bottom:2px;
	text-align: right;
	float: left;
}

#info_user label {
	width:200px;	
}
#edit_mdp label {
	width:200px;	
}

input, select {
	height: 18px;
	padding: 2px;
	margin-bottom:2px;
	width:250px;	
}


select {
	height:24px;
	margin-bottom:20px;
	width:255px;
}
td, tr, table {
	border: 0px;
	margin:0px;
	padding:0px;
}
#button_record {
	margin-left:150px;	
}
#button_login {
	
	display:block;
	
	height:50px;
	width:100px;	
	
}

form {
	background-color: rgba(255,255,255,0.3);
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	border-style:solid;
	border-color: rgb(255,220,150);
	border-width:1px;
	margin: auto;
	text-align:left;
	
}
#inscription {
	position:absolute;
	height:280px;
	width:440px;
	background-color: rgba(255,255,255,0.3);
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	border-style:solid;
	border-color: rgb(255,220,150);
	border-width:1px;
	margin: auto;
	margin-top:20px;
	margin-left: -460px;
	right:50%;
}
#form_login {
	background-color:transparent;
	border:none;	
	
}